In [41]:
from pathlib import Path
import pandas as pd

budget_path = Path("budget_data.csv")
budget = pd.read_csv(budget_path)

In [48]:
total_months = budget.count()
total_months

Date             86
Profit/Losses    86
dtype: int64

In [72]:
total = budget.sum()
total

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [73]:
change = budget.set_index("Date").diff()
average_change = change.mean()
average_change

Profit/Losses   -2315.117647
dtype: float64

In [78]:
greatest_increase = change.nlargest(1, "Profit/Losses")
greatest_increase

          Profit/Losses
Date
Feb-2012      1926159.0

In [79]:
greatest_decrease = change.nsmallest(1, "Profit/Losses")
greatest_decrease

          Profit/Losses
Date
Sep-2013     -2196167.0